* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url('pixelsArtBackground.jpg');
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
  font-weight: 300;
}

h1 {
  font-size: 60px;
}

h2 {
  font-weight: 300;
}

header {
  text-align: center;
  display: block;
  width: 500px;
  margin: 0 auto;
}

.cabecalho-botoes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  margin: 30px 0;
}

#corpo {
  width: 600px;
  margin: 0 auto;
  padding: 50px;
  border: 1px black solid;
  border-radius: 10px;
  margin-top: 50px;
  background-color: rgba(220, 220, 220, 0.904);
}

#color-palette {
  display: flex;
  justify-content: center;
}

.color {
  border: solid black 1px;
  width: 100px;
  height: 100px;
  display: inline-block;
  margin: 10px;

}

#color0 {
  background-color: black;
}

#pixel-board {
  display: block;
  width: 212px;
  margin: 0 auto;
  padding: 50px 0;
}

.linha {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  padding: 0;
  line-height: 0;
}

.pixel {
  display: inline-block;
  min-width: 40px;
  min-height: 40px;
  max-width: 40px;
  max-height: 40px;
  border: 1px black solid;
  background-color: white;
}

.press {
  width: 210px;
  padding: 10px 0;
  font-size: 20px;
}

.cabecalho-number-lines {
  display: flex;
  justify-content: left;
  gap: 10px;
  flex-direction: row;
}

#board-size {
  padding-right: 5px;
  height: 40px;
  font-size: 20px;
  text-align: center;
  width: 80px;
}

#generate-board {
  height: 44px;
  width: 80px;
}

button {
  background-color: rgb(210, 210, 210);
  border: 1px solid gray;
  border-radius: 4px;
}

button:hover {
  background-color: rgb(195, 195, 195);
  transition: background 0.2s;
}
